@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Playfair Display', serif;
}

h2 {
	font-family: 'Playfair Display', serif;
}

nav{
 	background-color: #151226; 
}

hr {
	border-color: #ECE7E2;
}
body {
	padding-top: 56px;
	font-size: 15px;
	color: #151226;
}

.sticky-offset {
	top: 56px;
}

#body-row {
	margin-left:0;
	margin-right:0;
}
#sidebar-container {
	min-height: 100vh;   
	background-color: #F2F2F2;
	padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
	min-width: 230px;
}
.sidebar-collapsed {
	width: 60px;
}

/* Menu item*/
.side-text {
	color: black;
	padding-left: 30px;
} 
.side-text > a {
	color: #151226;
	font-weight: 600;
	opacity: 1;
}

.side-border-left {
	border-left: 2px dotted #151226;
	padding-left: 5px;
	margin-left: 6px;
	margin-bottom: 0;
	display: block;
}
.border-left-none {
	margin-left: 13px;
	margin-bottom: 0;
	display: block;
}
.progress-desc{
	font-size: 12px;
	font-style: italic;
	font-weight: 300;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 40px;
	margin-bottom: 0;
	display: block;
	width: 150px;
}

.small-font {
	display: inline;
	width: 100%;
	font-weight: bold;
	float: inherit;
	font-size: 10px;
	font-weight: 600;
}
.section-one > .container {
	margin: 0;
}
.section-three > .container {
	margin: 0;
}
.main-content{
	margin-left: 25px;
	margin-right: 25px;
}

.card{
	margin-top: 20px;
	background: #fff;
	max-width: 1000px;
}

.section-one {
	margin-top: 100px;
	margin-bottom: 50px;
}

.section-two {
	margin-top: 50px;
	margin-bottom: 50px;
}
.section-three {
	margin-top: 50px;
	margin-bottom: 50px;
}

h5 {
	font-size: 13px;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	color: #151226;
}

label {
	font-weight: 600;
	font-size: 16px;
	display: block;
	margin-top: 20px;
	margin-bottom: 5px;
	
}

label > span {
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}

input[type=text], input[type=number], input[type=tel], textarea, input[type=password] {
	width: 100%;	
	box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	padding: 7px;
	outline: none;
}

input[type=submit] {
	/* width: 120px; */	
	border: none;
	padding: 8px 15px 8px 15px;
	background: #316CF4;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	float: right;
	margin-right: 4%;
	font-size: 14px;
}

input[type=submit]:hover {
	background: #2553BC;
	color: #fff;
}

input[type=checkbox] , input[type=radio]{
	margin-left: 50px;	
}	

.page-nav{
	text-decoration: none;
	
}		
			
.cancel {
	width: 120px;	
	border: none;
	padding: 8px 15px 8px 15px;
	background: #C63939;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	margin-top: 10px;
	font-size: 14px;
}
.cancel:hover {
	background: #8D1C1C;
	color: #fff;
}

.edit {
	width: 120px;	
	border: none;
	padding: 8px 15px 8px 15px;
	background: #e0e0e0;
	color: #000;
	box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	float: right;
	margin-right: 4%;
	font-size: 14px;
}
.edit:hover {
	background: #bdbdbd;
	color: #000;
}


th{
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
	font-size:11px;
	font-weight:600;
	
}
td{
	padding-left: 15px;
	padding-right: 15px;
}
table, th, td {
  /* border: 1px solid grey; */
  border-collapse: collapse;
}


.active-link{
	font-weight: 800;
}

/* Email already in use warning */
.emailerror {
	color: red;
	font-weight: bold;
}



table {
	border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

thead tr {
	background-color: #151225;
    color: #ffffff;
    text-align: left;
}

th, td {
	padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
    font-size: 12px;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #151225;
}


.login {
		width: 50%; 
		margin: auto; 
		margin-top: 150px; 
		background-color: #323141; 
		color: #fff; 
		padding: 50px;
		border-radius: 6px;
		filter: drop-shadow(6px 6px 6px rgba(255, 255, 255, 0.05));
}

.loginwarn {
		width: 50%; 
		margin: auto; 
		background-color: #323141; 
		color: #fff; 
		padding: 15px 50px 50px 50px;
		border-radius: 0 0 6px 6px;
		filter: drop-shadow(6px 6px 6px rgba(255, 255, 255, 0.05));
}

.container_content {
 margin-left: 100px;
 margin-right: 100px;
}

#marquee {
    padding: 50px 0px;
    width: 100%;
}

#marquee .container {
    overflow: hidden;
    width: 100%;
}

#marquee .pic-container {
    display: flex;
    animation: marquee 30s infinite linear;
}

#marquee .pic-container .pic {
    flex-basis: 20%;
    flex-shrink: 0;
}

#marquee img {
    width: 100%;
    object-fit: cover;
    border: 1px solid rgba(238, 231, 231, 0.9);
}

@media (max-width: 1024px) {
    #marquee .pic-container .pic {
        flex-basis: 25%;
    }
}

@media (max-width: 768px) {
    #marquee .pic-container .pic {
        flex-basis: 33.33%;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 1024px) {
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-125%);
        }
    }
}

@media (max-width: 768px) {
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-186.65%);
        }
    }
}

.about{
	width:80%; 
	margin: auto;
}

@media (max-width: 768px) {
	.about{
		width:100%; 
		
	}
	.container_content > p, .container_content > h1{
		width:80%; 
		margin: auto;
		padding-top: 15px;
	}
	.container_content {
	 margin: 0;
	}

}
