<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>NOGH - Meal Registration</title>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    	
		<link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}">
		
		<link rel="icon" type="image/x-icon" th:href="@{/images/LOGO_noBg.png}">
		
		<style>
			body {
				margin-top: 56px;
				width:75%;
				margin: auto;
				background-color: #151225;
			}
		</style>
</head>


<body>
<div th:replace="fragments/nav :: nav"></div>

  <div style="
		width: 70%; 
		margin: auto; 
		margin-top: 150px; 
		background-color: #323141; 
		color: #fff; 
		padding: 50px;
		border-radius: 6px;
		filter: drop-shadow(6px 6px 6px rgba(255, 255, 255, 0.05));">
        	
				<div>
					<div class="container">
						<div class="row">
							<div class="col"
							 style="
								width: 50%; 
								margin: auto;
								text-align:center;">
							<script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
							<lord-icon
							    src="https://cdn.lordicon.com/lupuorrc.json"
							    trigger="hover"
							    colors="primary:#ffffff,secondary:#08a88a"
							    stroke="40"
							    style="width:80px;height:80px">
							</lord-icon>
								<h2 style="padding-top: 20px;"  id="section-1">
						       	  Thank you!
						        </h2>
						
								<p>	We have successfully received your application! </p> 
								<p>	
									Our team will review your application and get back to you shortly via the email you provided. 
									If you would like to contact us directly regarding your application our email is 
									<a href = "mailto: ">noghhaltonon@gmail.com</a>
								</p>
							</div>
						
			
						</div>
					</div>
					
				</div>
			
        </div>

      

		
   
</body>
</html>